# Dependencies
node_modules/
backend/node_modules/

# Environment variables - NUNCA suba isso
.env
backend/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Arquivos duplicados
*.bak
*\ (2)*
*\ mod
